html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

h1 {
    color: #ffaa00;
}

.endPoint {
    display: block;
    width: 400px;
}

.container, .content, .map-canvas {
    width: 100%;
    height: 100%;
}
