/* reset */
/* line 2, global.scss */
ul, ol, p, h1, h2, h3, h4 {
  font-weight: normal;
  margin: 0;
  padding: 0;
}

/* line 7, global.scss */
ul {
  list-style-type: none;
}

/* line 10, global.scss */
a {
  color: #1471da;
  text-decoration: none;
}

/* line 14, global.scss */
a:hover {
  text-decoration: underline;
}

/* line 17, global.scss */
html, body {
  background-color: #efefef;
  color: #3b3b3b;
  font-size: 16px;
  font-family: 'Helvetica Neue', 'Helvetica', 'Sans-serif';
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  -webkit-text-size-adjust: none;
}

/* line 31, global.scss */
.container,
.header,
.content {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 37, global.scss */
div.container {
  width: 100%;
  height: 100%;
}
/* line 41, global.scss */
div.container .content {
  width: 100%;
  height: 100%;
}
/* line 45, global.scss */
div.container .content .map-canvas {
  width: 100%;
  height: 100%;
}
