<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, minimum-scale=0.5, maximum-scale=1, initial-scale=1, user-scalable=no, target-densitydpi=device-dpi, minimal-ui">

		<title>race finder dot bike</title>

		<meta name="title" content="racefinder.bike" />
		<meta name="description" content="Open letter to CRCA" />
		<meta property="og:locale" content="en_US"/>
		<meta property="og:url" content="http://racefinder.bike" />
		<meta property="og:title" content="racefinder.bike" />
		<meta property="og:description" content="Open letter to CRCA" />
		<meta property="og:type" content="website" />
		<meta property="og:site_name" content="racefinder"/>
		<meta name="twitter:url" content="http://racefinder.bike">
		<meta name="twitter:card" content="summary">
		<meta name="twitter:creator" content="@https://twitter.com/jayssface">
		<meta name="twitter:site" content="@jayssface">

		<link rel="shortcut icon" href="public/Includes/images/icon.png" type="image/png" />
		<link rel="icon" type="image/png" href="public/Includes/images/icon.png" />
	</head>
	<body>
		<div class="container" style="width: 100%">
			<div class="content" style="max-width: 720px; margin: 20px auto;">
				<p>
					Dear CRCA,
					<br/><br/>
					Serving as President of CRCA over the last year has been excellent in many ways. We put on a great season of racing, brought back the classic Bear Mountain race and put on numerous, very competitive open races in and around NYC that have brought in some of the best talent in the region. I’ve enjoyed helping to facilitate all of this while also representing the club at regional elite races. Personally, 2014 has been the best year I’ve ever had and I’d like 2015 to be better both on and off the bike.
					<br/><br/>
					I admit - as most of the Board members were new this year, including myself - it took us a while to get off the ground and get organized. With little expectation other than producing a solid race season, I now have great understanding of how the CRCA operates, what the pain points are and where we desperately want, and need, to improve. We’ve done our best to run a tight ship on race mornings, but in the end we still use pen and paper, relying on manual calculation and a human to process race results. This has proved error-prone and too slow. I’d really like to see the CRCA come into the age of the Internet to solve and/or streamline these manual processes with the help of technology. This could mean introducing iPads and bar code scanners for registration (we can scan your USAC license!), digitizing the marshal check-in via a CRCA app, introducing timing chips (a la Redhook Crit), and using GPS to track the fields around a course - increasing safety. I am inherently interested in integrating technology into our operations and committed to streamlining race-day processes.
					<br/><br/>
					Additionally, though my proposal for an elite CRCA composite team was denied this season, my re-election will guarantee I'm able to work towards enabling a fully-supported CRCA team to travel regional UCI events. After having the opportunity to participate in a composite team this season, with no support or approval from the Board, it's very apparent that this process needs to be formalized.
					<br/><br/>
					This season, my way of thinking and expectations seemed to be too progressive for some of the CRCA Board members; ideas mentioned above were deemed as excessive and some of the Board members came to the conclusion, with zero input from our membership, that the Club is not interested in any this. It needs to be made clear: the CRCA has appropriate funds and I think it’s about time we reinvest a small portion to make improvements and push forward with initiatives that directly benefit our members. This is why I’m writing to all of you, the members of CRCA.
					<br/><br/>
					I am undoubtedly committed to growing the CRCA membership, increasing our Club's visibility and making positive, sustainable improvements in terms of race quality. With your vote, I’d like to continue.
					<br/><br/>
					Cheers,
					<br/><br/>
					Jayson Jacobs<br/>
					CRCA President
				</p>
				<a href="https://twitter.com/share" class="twitter-share-button"
				data-lang="en" data-url="http://racefinder.bike" data-size="8"
				data-text="map based bike race finder." data-via="jayssface"
				data-count="none" data-counturl="http://racefinder.bike">Tweet</a>
			</div>
		</div>
		<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-50131112-1', 'racefinder.bike');
		ga('send', 'pageview');

		!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");

		</script>
	</body>
</html>
