html, body {
  background-color: #efefef;
  color: #3b3b3b;
  font-size: 16px;
  font-family: 'Helvetica Neue', 'Helvetica', 'Sans-serif';
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  -webkit-text-size-adjust: none; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

::-webkit-scrollbar {
  width: 0 !important; }

a {
  color: #3b3b3b; }

a:hover {
  text-decoration: none; }

h1 {
  color: #ffaa00; }

.endPoint {
  display: block;
  width: 400px; }

.container, .content, .map-canvas {
  width: 100%; }

.admin.map-canvas {
  height: 100%; }

.container {
  height: 100%; }
  .container .content {
    height: 100%; }
    .container .content .header {
      background-color: #ffffff;
      height: 7%;
      min-height: 60px;
      padding: 5px 10px; }
      .container .content .header .logo, .container .content .header .controls {
        float: left;
        display: inline-block; }
      .container .content .header .controls {
        height: 55px;
        margin-left: 10px; }
        .container .content .header .controls input[type="text"] {
          margin-bottom: 15px; }
        .container .content .header .controls ul {
          display: inline-block;
          width: 320px;
          height: 35px;
          padding: 0;
          margin: 0; }
        .container .content .header .controls ul li {
          display: inline-block;
          float: left;
          margin-left: 10px;
          width: 70px; }
        .container .content .header .controls input[type="radio"] {
          display: none; }
        .container .content .header .controls label {
          -webkit-border-radius: 5px;
          -moz-border-radius: 5px;
          border-radius: 5px;
          border: 2px #cdcdcd solid;
          padding: 3px;
          display: block;
          width: 60px;
          text-align: center;
          font-size: 12px; }
        .container .content .header .controls label:hover {
          border-color: #ff6700; }
        .container .content .header .controls input[type="radio"]:checked + label {
          border-color: #ff6700; }
        .container .content .header .controls .icon {
          display: block;
          height: 25px;
          width: 40px;
          margin-bottom: 3px;
          margin-left: 5px; }
        .container .content .header .controls .icon.radio-road {
          background: url('../images/icon-radio-road.jpg') no-repeat center bottom; }
        .container .content .header .controls .icon.radio-cx {
          background: url('../images/icon-radio-cx.jpg') no-repeat center bottom; }
        .container .content .header .controls .icon.radio-mtb {
          background: url('../images/icon-radio-mtb.jpg') no-repeat center bottom; }
        .container .content .header .controls .icon.radio-track {
          background: url('../images/icon-radio-track.jpg') no-repeat center bottom; }
    .container .content .anchor {
      font-size: 10px;
      width: 100px;
      height: 20px;
      position: fixed;
      top: 10px;
      right: 10px;
      z-index: 100;
      text-align: right; }
      .container .content .anchor .twitter-share-button {
        margin-bottom: 5px; }
    .container .content .map-canvas {
      height: 93%; }

.group:after {
  content: "";
  line-height: 0;
  clear: both;
  visibility: hidden;
  display: block; }
