html, body {
  background-color: #efefef;
  color: #3b3b3b;
  font-size: 16px;
  font-family: 'Helvetica Neue', 'Helvetica', 'Sans-serif';
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  -webkit-text-size-adjust: none; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

a {
  color: #3b3b3b; }

a:hover {
  text-decoration: none; }

h1 {
  color: #ffaa00; }

.endPoint {
  display: block;
  width: 400px; }

.container, .content, .map-canvas {
  width: 100%;
  height: 100%; }

.container .content .header {
  background-color: #ffffff;
  height: 60px;
  padding: 5px 10px; }
  .container .content .header .logo, .container .content .header .controls {
    float: left;
    display: inline-block; }
  .container .content .header .controls {
    height: 30px;
    margin-left: 10px;
    margin-top: 15px; }
.container .content .anchor {
  font-size: 10px;
  width: 100px;
  height: 20px;
  position: fixed;
  top: 15px;
  right: 10px;
  z-index: 100; }
